* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

:root {
    --bgLight: #f8f8f8;
    --fntDark: #262626;
    --btn: #ffa500;
    --gray: #ccc;
    --green: #68a757;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background: var(--bgLight);
}

.center {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.btn {
    background: var(--btn);
    color: var(--bgLight);
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.9;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--btn);
    border-radius: 7px;
}